
<div>
  <!-- <input [(ngModel)]="searchStr" ngDefaultControl  type="text" placeholder="Wpisz nazwę rasy"> -->

</div>



<div class="container">
</div>

<div id="upper-flex-container">
  
  <div class="flex-container">
    <div class="flex-left-list">
      <div id="select" class="border">
        <button class="btn" type="text" ngDefaultControl
        *ngFor="let dog of dogarr; let i = index" [attr.data-index]
        [value]="dog" [id]="i" onclick="getDogValue(this.value)">
        {{ dog }}
      </button>
    </div>
    </div>
    <div class="flex-right">
      
      <div id="boxinner">
        
      <img class="border " id="picHolder" [src]="img" src="">
  
      <div class="title"><div id="title2">Pies Zbrodniarz</div></div>
  
      <div class="description shadow">
        <div id="intro">Wybierz rasę psa z listy</div>
        <a id="link" href="#" target="_blank" class="hidden">Sprawdź informacje o rasie w Wikipedii *</a>
        <p class="hidden">*Większość i tak nie działa</p>
      </div>
  
    </div>


  </div>
</div>

</div>