<h1>Doggogram</h1>
<div class="list">
<!-- <ul class="list-group">
  <li
      *ngFor="let dog of dogarr; let i = index" [attr.data-index]
      class="list-group-item">
      {{ dog }}
      <button type="button" (click)="showPic()" >ddd</button>
  </li>
</ul> -->
<div ngModel [id]="test" >TEST</div>
<div [id]="wikipage"></div>
<div>
  <input [(ngModel)]="searchStr" ngDefaultControl  type="text" placeholder="Search by breed">
</div>
<div>
  <button type="button" (click)="showPic()" class="btn btn-success btn-sm">
      Search
    </button>
</div>
</div>
<div>
  <img [src]="img">
</div>
<form action="" name="form">
  <select id="select" size="10" ngDefaultControl>
    <option type="text" ngDefaultControl
    *ngFor="let dog of dogarr; let i = index" [attr.data-index]
  [value]="dog" [id]="i" (click)="showtest()">
 {{ dog }}
    </option>
  
 
  </select>
</form>